.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.header-style {}

.auth-tabs .tab a {
    color: rgb(38, 166, 154)
}

.auth-tabs .tab a:hover {
    color: #1B7A71;
}

.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: rgb(38, 166, 154);
    will-change: left, right;
}

#login {
    margin-top: 1%;
}

#add-avatar {
    position: relative;
    left: 35%;
}

.nav-auth {}

#login-btn {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 1%;
    padding-right: 1%;
}

.div-input-half-left {
    width: 40%;
    display: inline-block;
    margin-right: 12%;
}
.div-input-half {
    width: 40%;
    display: inline-block;
}
.input-position{
    position: relative;
    top: -24px;
}

.row-edited{
    margin-bottom: 0;
}

.input-full{
    width: 90%;
}

.div-submit {
    float: right;
    margin-right: 7%;
    margin-top: 4%;
}