.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.header-style {}

.auth-tabs .tab a {
    color: rgb(38, 166, 154)
}

.auth-tabs .tab a:hover {
    color: #1B7A71;
}

.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: rgb(38, 166, 154);
    will-change: left, right;
}

#login {
    margin-top: 1%;
}

#add-avatar {
    position: relative;
    left: 35%;
}

.nav-auth {
    
}
.products-item {
    height: 450px;
}
.products-row {
    margin-top: 5%;
}
.products-img {
    width: auto;
    height: 65%;
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
}